workspaceNW5/MDMSharedResources/schema/full/MDMNW.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
	IBM-MDMWB-1.0-[0b4cef7417771822df8d6b61273eac3e]
-->
<wsdl:definitions name="MDMNW" targetNamespace="http://mdmnw/MDMNW/port" 
	xmlns:mdmport="http://mdmnw/MDMNW/port" 
	xmlns:mdm="http://www.ibm.com/mdm/schema" 
	xmlns:mdmwsdl="http://www.ibm.com/mdm/wsdl/schema" 
	xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	
	<jaxws:bindings>
        <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
    </jaxws:bindings>
	<wsdl:types>
		<xsd:schema targetNamespace="http://mdmnw/MDMNW/port" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:import namespace="http://www.ibm.com/mdm/schema" schemaLocation="PhysicalMDM.xsd" />
		<xsd:import namespace="http://www.ibm.com/mdm/wsdl/schema" schemaLocation="MDMWSDLCommon.xsd" />

			<xsd:complexType name="MaintainNWPersonInputType">
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:RequestControl"/>
				<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:CompositeNWPersonBObj"/>
			</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MaintainNWPersonOutputType">
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:ResponseControl"/>
				<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:TxResult"/>
				<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:CompositeNWPersonBObj"/>
			</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="MaintainNWPerson" type="mdmport:MaintainNWPersonInputType"/>
			<xsd:element name="MaintainNWPersonResponse" type="mdmport:MaintainNWPersonOutputType"/>
			<xsd:element name="processingFault" type="mdmwsdl:ProcessingFaultType"/>

		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ProcessingFault">
		<wsdl:part element="mdmport:processingFault" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="MaintainNWPersonRequest">
		<wsdl:part element="mdmport:MaintainNWPerson" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="MaintainNWPersonResponse">
		<wsdl:part element="mdmport:MaintainNWPersonResponse" name="parameters"/>
	</wsdl:message>
	

	<wsdl:portType name="MDMNWPortType">
		<wsdl:operation name="MaintainNWPerson">
			<wsdl:input message="mdmport:MaintainNWPersonRequest"/>
			<wsdl:output message="mdmport:MaintainNWPersonResponse"/>
			<wsdl:fault message="mdmport:ProcessingFault" name="ProcessingFault"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="MDMNWHttpBinding" type="mdmport:MDMNWPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="MaintainNWPerson">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ProcessingFault">
				<soap:fault name="ProcessingFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="MDMNWService">
		<wsdl:port binding="mdmport:MDMNWHttpBinding" name="MDMNWPort">
			<soap:address location="http://localhost:9080/MDMWSProvider/MDMService"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
		